@font-face {
  font-family: "AmbleRegular";
  src: url("../fonts/Amble-Regular.ttf"); }

@font-face {
  font-family: "AmbleBold";
  src: url("../fonts/Amble-Bold.ttf"); }

@font-face {
  font-family: "AmbleItalic";
  src: url("../fonts/Amble-Italic.ttf"); }

body {
  background-color: #121212; }
  body h1 {
    font-family: "AmbleBold";
    font-size: 40px;
    color: white;
    padding: 20px;
    background-color: #202020; }
  body h2 {
    font-family: "AmbleBold";
    font-size: 25px;
    color: white;
    background-color: #202020;
    padding: 20px;
    margin: 20px; }
  body h3 {
    font-family: "AmbleRegular";
    font-size: 20px;
    color: white;
    padding: 20px; }
    body h3.secciones {
      text-decoration: underline; }
  body h4 {
    font-family: "AmbleItalic";
    font-size: 18px;
    color: white;
    background-color: #202020;
    margin: 20px 0px;
    padding: 20px; }

ul {
  list-style-type: none;
  font-family: "AmbleRegular"; }
  ul.genero {
    background-color: #202020;
    padding: 5px; }
  ul li {
    display: inline;
    font-size: 17px;
    margin: 20px 10px;
    padding: 5px; }
    ul li .footer {
      display: block;
      font-family: "AmbleItalic";
      background-color: #121212;
      padding: 0; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white; }
    a:hover.genero:hover {
      font-size: larger;
      transition: all 0.15s; }
