@font-face {
  font-family: "AmbleRegular";
  src: url("../fonts/Amble-Regular.ttf"); }

@font-face {
  font-family: "AmbleBold";
  src: url("../fonts/Amble-Bold.ttf"); }

@font-face {
  font-family: "AmbleItalic";
  src: url("../fonts/Amble-Italic.ttf"); }

body {
  background-color: #121212; }
  body h1 {
    font-family: "AmbleBold";
    font-size: 40px;
    color: white;
    padding: 20px;
    background-color: #202020; }
  body h2 {
    font-family: "AmbleBold";
    font-size: 25px;
    color: white;
    background-color: #202020;
    padding: 20px;
    margin: 20px; }
  body h3 {
    font-family: "AmbleRegular";
    font-size: 20px;
    color: white;
    padding: 20px; }
    body h3.secciones {
      text-decoration: underline; }
  body h4 {
    font-family: "AmbleItalic";
    font-size: 18px;
    color: white;
    background-color: #202020;
    margin: 20px 0px;
    padding: 20px; }
  body ul {
    list-style-type: none;
    font-family: "AmbleRegular"; }
    body ul.genero {
      background-color: #202020;
      padding: 5px; }
    body ul li {
      display: inline;
      font-size: 17px;
      margin: 20px 10px;
      padding: 5px; }
      body ul li .footer {
        display: block;
        font-family: "AmbleItalic";
        background-color: #121212;
        padding: 0; }
  body a {
    text-decoration: none;
    color: white; }
    body a:hover {
      color: white; }
      body a:hover.genero:hover {
        font-size: larger;
        transition: all 0.15s; }
  body .formulario {
    font-size: 1.2em;
    font-family: "AmbleRegular";
    color: white;
    padding: 0.7em; }
  body p {
    font-family: "AmbleRegular";
    color: white;
    font-size: 20px; }
  body .imgNov {
    padding-top: 2em;
    padding-bottom: 2em; }
  body .imgPrin {
    padding-top: 2em;
    padding-bottom: 2em; }
  body .tabla {
    height: 20em; }
  body .nov1 {
    width: 26em;
    height: 26em; }
  body .nov2 {
    width: 26em;
    height: 26em; }
  body .nov3 {
    width: 26em;
    height: 26em; }
  body .nov4 {
    width: 26em;
    height: 26em; }
