@import 'tipografias';
@import 'colors';
@import 'mixins';

body {
    background-color: $color-ter;

    h1 {
        margin-bottom: 0;
        padding: 20px;
        background-color: lighten($color: $color-ter, $amount: 4);

        .logo {
            width: 70px;
        }
    }

    h2 {
        font-family: $text-title;
        font-size: 20px;
        color: $color-text;
        background-color: lighten($color: $color-ter, $amount: 6);
        padding: 20px;
        margin: 20px;
    }

    h3 {
        font-family: $text;
        font-size: 20px;
        color: $color-text;
        padding: 20px;

        &.secciones {
            text-decoration: underline;
        }
    }

    h4 {
        font-family: $text-sec;
        font-size: 14px;
        color: $color-text;
        background-color: lighten($color: $color-ter, $amount: 4);
        padding: 20px;
        margin: 0.20em;
    }

    ul {
        list-style-type: none;
        font-family: $text;

        &.genero {
            background-color: darken($color: $color-ter, $amount: 2);
            padding: 5px;
        }


        li {
            display: inline;
            font-size: 14px;
            margin: 20px 10px;
            padding: 5px;

            .footer {
                display: block;
                font-family: $text-sec;
                padding: 0;
            }
        }
    }

    a {
        text-decoration: none;
        color: $color-text;

        &:hover {
            color: $color-text;

            &.genero:hover {
                font-size: larger;
                transition: all 0.10s;
            }

        }
    }

    .contacto {
        margin-top: 3em;
        margin-bottom: 3em;

        .formulario {
            font-size: 1em;
            font-family: $text;
            color: $color-text;
            padding: 0.7em;
        }
    }

    p {
        font-family: $text;
        color: $color-text;
        font-size: 20px;
    }

    .novedades {
        margin-top: 3em;
        margin-bottom: 3em;

        .imgNov {
            padding: 0.5em;
        }
    }

    .imgPrin1 {
        margin: 0.15em;
        max-width: 50%;
    }

    .imgPrin2 {
        margin: 0.15em;
        max-width: 35%;
    }

    .imgPrin3 {
        margin: 0.15em;
        max-width: 46.2%;
    }

    .guia {
        margin-top: 3em;
        margin-bottom: 3em;

        .tabla {
            background-color: darken($color: $color-ter, $amount: 5);
            height: 30em;
        }

        .color {
            color: $color-text;
        }
    }

    .productos {
        padding: 3em;
        background-color: lighten($color: $color-ter, $amount: 4);

        .prodText {
            font-family: $text;
            font-size: 18px;
            background-color: lighten($color: $color-ter, $amount: 10);
        }

        .buzo2 {
            width: 96.7%;
        }

        .buzo4 {
            width: 100%;
        }
    }

    input {
        padding: 5px;
        border-radius: 5px;
    }

    textarea{
        margin-top: 1.2em;
        border-radius: 5px;
    }
}